## File: src/services/system/permission-service/.env
DATABASE_URL="postgres://imkgsam:imkgsam@localhost:5432/mydb"

SERVICE_PORT=9101
MODULE_NAME=PERMISSION_SERVICE
NODE_ENV=development

NACOS_SERVER=localhost:8848
NACOS_NAMESPACE=public
NACOS_DATA_ID=permission-service.json
NACOS_GROUP=DEFAULT_GROUP
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos