DATABASE_URL="postgres://imkgsam:imkgsam@127.0.0.1:5432/assetdb"
GRPC_LISTEN_HOST="0.0.0.0"
GRPC_LISTEN_PORT="50056"
MODULE_NAME="asset-service"

ASSET_S3_ENDPOINT="http://localhost:9000"
ASSET_S3_REGION="us-east-1"
ASSET_S3_BUCKET="oes-assets"
ASSET_S3_ACCESS_KEY_ID="oesminio"
ASSET_S3_SECRET_ACCESS_KEY="oesminio123"
ASSET_S3_FORCE_PATH_STYLE="true"
ASSET_S3_KEY_PREFIX="avatar"
ASSET_PUBLIC_BASE_URL="http://localhost:9000/oes-assets"
