
SERVICE_PORT=9101

AUTH_HOST=localhost
AUTH_HTTP_PORT=9201
AUTH_TCP_PORT=9202

PERMISSION_HOST=localhost
PERMISSION_TCP_PORT=9302
PERMISSION_HTTP_PORT=9301


# Token Info
# 2 DAYS: 172800 Sec
ACCESS_TOKEN_VALIDITY_SEC=172800
# 7 DAYS: 604800 Sec
REFRESH_TOKEN_VALIDITY_SEC=604800
TOKEN_ISSUER=api.dev.xyz.com
TOKEN_AUDIENCE=xyz.com


# Auth keys
AUTH_PUBLIC_KEY_PATH=keys/public.key
AUTH_PRIVATE_KEY_PATH=keys/private.key

NODE_ENV=development
